table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: #00000055 10px 10px 10px;
}

th {
    padding: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #272a33;
}

tr:nth-child(odd) {
    background-color: #1e2329;
}

#row-titles {
    background-color: #0e1013;
}

.title {
    text-align: left;
}

.edit a {
    color: #487eb0;
}

.delete a {
    color: #c23616;
}

button {
    margin: 20px;
}