.dashboard-nav {
    width: 100%;
    background-color: #0e1013;
    text-align: left;
    padding: 10px;
}
.dashboard-nav a {
    margin: 0px 10px;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
}
.dashboard-nav a:hover {
    border-bottom: #487eb0 solid 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: #00000055 10px 10px 10px;
    table-layout: fixed;
}

td,
th {
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
}

a {
    cursor: pointer;
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #272a33;
}

tr:nth-child(odd) {
    background-color: #1e2329;
}

#row-titles {
    background-color: #0e1013;
}

.title {
    text-align: left;
}

.edit a img {
    color: #487eb0;
}

.delete a img {
    color: #c23616;
}

button {
    margin: 20px;
}