{% extends "base.html" %}

{% block title %}Editor{% endblock %}

{% block navtitle %}Editor{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/postit/editor.css') }}">
{% endblock %}

{% block content %}
<h1>Post Editor</h1>
<div class="content-break"></div>
<form method="POST">
    <input type="text" placeholder="Title" maxlength="100" name="title" id="post-title" value="{{ title }}"/><br/>
    <div class="content-break"></div>
    <a href="{{ url_for('gallery.home') }}" target="_blank"><input type="button" class="button" id="gallery-button" value="Gallery"></a><br/>
    <div class="content-break"></div>
    <textarea name="content" id="post-content" placeholder="Post content goes here..." spellcheck>{{ content }}</textarea>
    
    <div id="checkbox">
        <input type="checkbox" name="posted" {% if posted %}checked{% endif %}/>
        <span>Posted?</span>
    </div>
    
   <input type="submit" class="button"/>
   <input type="submit" class="button" formaction="{{ url_for('postit.preview') }}" value="Preview Post"/>
</form>
{% endblock %}