* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

body {background-color: #2a2e38;}


/* HTML ELEMENTS */
h1 {
    font-size: 50px;
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 35px;
    }
}

p {
    font-size: 20px;
}

button, .button {
    font-size: 20px;
    background-color: #40739e;
    padding: 10px 15px;
    margin: 0px 10px;
    border-radius: 10px;
    border: none;

    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
}
button:hover, .button:hover {
    font-size: 22px;
    cursor: pointer;
}
button:focus, .button:focus {
    outline:none;
}

/* CLASSES */
.wrapper {
    float: left;
    text-align: center;
    width: 100%;

    opacity: 0;
    padding-top: 15px;
    
    transition: all ease-in 1s;
    -webkit-transition: all ease-in 1s;
    -moz-transition: all ease-in 1s;
    -o-transition: all ease-in 1s;
}
.content {
    margin: auto;
    width: 1200px;
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    .content {
        width: 95%;
    }
}

.content-break {    
    margin-top: 50px;
}
.content-break-small {
    margin-top: 20px;
}
.content-break-tiny {
    margin-top:10px;
}
.content-break-bottom {
    margin: 50px; 
}


/* NAV BAR */
nav {
    background-color: #1e2329;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav p {
    margin-left: 30px;
    color: white;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    margin-right: 30px;
    padding: 10px 0px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li {
    display: inline;
    padding: 10px 20px;
}

nav li:hover {
    transition: background-color ease-in-out .4s;
    -webkit-transition: background-color ease-in-out .4s;
    -moz-transition: background-color ease-in-out .4s;
    -o-transition: background-color ease-in-out .4s;

    background-color: white;
    color: black;
    cursor: pointer;
}

nav img {
    display: none;
    width: 25px;
    height: 25px;
    margin: 10px;
    margin-left: auto;
}
nav img:hover {
    cursor: pointer;
}

/* CUSTOM PURPLE HIGHLIGHT COLOR FOR GITHUB NAV ITEM */
nav .github:hover {
    background-color: #6e5494;
    color: white;
}


@media only screen and (max-width: 850px) {
    nav ul {
        display: none;
    }
    nav img {
        display: flex;
    }
    nav p {
        font-size: 20px;
        margin-left: 10px;
    }
}

#mobnav {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #000000bb;
}

#mobnav #frame {
    padding: 0;
    width:100%;
    height: 100%;
    background-color: #2a2e38;
    text-align: center; 
    border-radius: 15px;
}

#mobnav #frame #close-nav {
    text-align: end;
    width: 100%;
    padding: 15px;
}
#mobnav #frame #close-nav img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#mobnav #frame .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

#mobnav #frame a {
    color: white;
    text-decoration: none;
}

#mobnav #frame p {
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 24px;
}

#mobnav #frame p:hover {
    transition: background-color ease-in-out .4s;
    -webkit-transition: background-color ease-in-out .4s;
    -moz-transition: background-color ease-in-out .4s;
    -o-transition: background-color ease-in-out .4s;

    background-color: white;
    color: black;
    cursor: pointer;
}

/* CUSTOM PURPLE HIGHLIGHT COLOR FOR GITHUB NAV ITEM */
#mobnav #frame .github:hover {
    background-color: #6e5494;
    color: white;
}

footer {
    float: left;
    width: 100%;
    margin-top: 100px;
    padding: 10px 0;
    text-align: center;
    
}

footer p {
    font-size: 15px;
    color: #ffffff44;
}

footer img {
    margin: 10px;
    width: 30px;
    transition: all ease-in-out .2s;
    border-radius: 50%;
    filter:
        brightness(100%)
        contrast(0%)
        grayscale(100%)
    ;
}

footer img:hover {
    filter: none;
}