/** PYTHON **/
.py .c1 {
    color: #dddddd66;
}

.py .kn, .k {
    color:#ffaf40;
}

.py .s2 {
    color:#3ae374;
}

.py .nf {
    color: #546de5;
}

.py .bp {
    color: #ff4d4d; 
}

.nb {
    color: #c56cf0;
}