{% extends "base.html" %}

{% block title %}Upload{% endblock %}
{% block navtitle %}Upload{% endblock %}

{%block head%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery/upload.css') }}">
{% endblock %}

{%block content%}
<script src="{{ url_for('static', filename='js/gallery/upload_page_scripts.js') }}"></script>
<h1>Upload Image</h1>
<form action="{{ url_for('gallery.new_image') }}", method="POST" enctype="multipart/form-data">
    <input type="hidden" name="path" id="path" value="{{ request.args.get('path', default='') }}"/>
    <input type="hidden" name="format" value="" id="format"/>
    <input type="text" placeholder="filename" name="filename" id="filename" required="true"/><br/>
    <img id="image-preview"/>
    <p id="select-image" onclick="select_image()">Select Image</p>
    <input type="file" name="file" id="file" required="true" onchange="file_selected();" accept="image/*"/><br/>
    <input type="submit" class="button"/><br/>
</form>
{% endblock %}