{% extends "base.html" %}

{% block title %}Admin{% endblock %}
{% block navtitle %}Admin{% endblock %}

{% block content%}
<div class="content-break">
    <h1>Admin Dashboard</h1>
    
    <a href="{{ url_for('posteditor', type='blog', id='new') }}"><button class="content-break">New Blog Post</button></a>
    <br>
    
    <a href="{{ url_for('posts', type='blog') }}"><button class="content-break">Blog Dashboard</button></a>
    <br>
    
    <a href="{{ url_for('posteditor', type='project', id='new') }}"><button class="content-break">New Project Post</button></a>
    <br>

    <a href="{{ url_for('posts', type='projects') }}"><button class="content-break">Projects Dashboard</button></a>
</div>
{% endblock %}