<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}  |  jackatkins.dev</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
        
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <p id="title">jackatkins.dev - {% block navtitle %}{% endblock %}</p>
            <ul>
                <a href="https://github.com/J4CKINS"><li class="github">GitHub</li></a>
                <a href="{{ url_for('blog') }}"><li>What's Happenin'</li></a>
                <a href="{{ url_for('projects') }}"><li>Projects</li></a>
                <a href="{{ url_for('home') }}"><li>Home</li></a>
            </ul>
        </nav>
        <div class="wrapper fadein">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/fadein.js') }}"></script>
    </body>
</html>