{% extends "base.html" %}
{% block title %}Blog Posts{% endblock %}
{% block navtitle %} Blog Posts {% endblock %}

{% block content %}
<div>
    <h1 class="content-break">Blog Posts Manager</h1>
    <table class="content-break">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>
                <a href="{{ url_for('posteditor', type='blog', id=post.id) }}"><button>Edit</button></a> 
                <a href="{{ url_for('deleteblogpost', id=post.id) }}"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}