{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

{% block navtitle %}Blog{% endblock %}
{% block content %}

{% for post in posts %}
{% if post["posted"] %}
<div class="post">
    <p class="post-title">{{ post["title"] }}</h1>
    <p class="post-content">{{ post["content"]|safe }}</p>
    <p class="post-date">{{ post["datestamp"] }}</p>
</div>
{% endif %}
{% endfor %}

{% endblock %}
