{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

{% block navtitle %}Projects{% endblock %}

{% block content %}
<div class="content-break">
    <h1>Projects</h1>
    <h2>Here you can find all of my finished and unfinished projects</h2>
</div>
<div class="content-break">
    {% for post in posts %}
    {% if post["posted"] %}
        <div class="post">
            <h1 class="post-title">{{ post["title"] }}</h1>
            <p class="post-content">{{ post["content"]|safe }}</p>
        </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
