{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

{% block navtitle %}Projects{% endblock %}

{% block content %}
<div class="content-break">
    <h1>Projects</h1>
    <p>Here you can find all of my finished and unfinished projects</p>
</div>
<div class="content-break">
    {% for post in posts %}
        <div class="post">
            <h1 class="post-title">{{ post["title"] }}</h1>
            <a href="{{ post['ID'] }}/"><button>View Project</button></a>
        </div>
    {% endfor %}
</div>
{% endblock %}
