<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> WotW</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/wotw.css')}}">
    </head>
    <body>

<div class ="container">
    <h1> Word of the Week</h1>
    <!-- start copy here 
    <div class="left">
        16th March 2020
    </div>
    <div class="right">
       <b>Yeet</b>
      <i>  <pre>
To discard an item at a high velocity
Alex finishes his soda and proceeds to yeet his empty can into a trash bin

Alex (while throwing the can): “YEET!” </pre> </i>
    </div>
    <!-- end copy here -->
<div class="left">
    30th November 2020
</div>
<div class="right">
   <b>Hypocrite</b>
  <i>  <pre>
Someone who tells people to not do things they themselves accidentally did once, like idk 103 weeks ago. 
It was a rough time, they wanted to seem like they had friends, (and it was only 2 ppl not 50 billion 
waiting for the post notification, so rly they should be excused).

Nobody:
Teenage girls when their friend posts an ig: *insert attention via comments here from backstabbing ppl 
who don't even like you* </pre> </i>
</div>
<div class="left">
    23rd November 2020
</div>
<div class="right">
   <b>Ubuntu</b>
  <i>  <pre>
Whilst it may be on the pogtent spectrum for programming, Ubuntu can only be described as a linux
dristrubution for people that fail at life.

Noob: I finally installed Linux, does that make me uberleet?
Linux Guru: No.
</pre> </i>
</div>
<div class="left">
    16th November 2020
</div>
<div class="right">
   <b>Nap Snecked</b>
  <i>  <pre>
A term associated with the game Phasmophobia, where someone tries to say neck snapped too fast.

Nobody:
Emma: AHHHHHHHHHHHH I was so close to getting my nap snecked just then!!!
Everyone else: Neck snapped

</pre> </i>
</div>
<div class="left">
    9th November 2020
</div>
<div class="right">
   <b>Reverserino</b>
  <i>  <pre>
    In reference to the highway code stating that a way of using your vehicle's engine to control your speed is 
    by changing into a lower gear, we would like to normalise the use of reverse, as an additional way to control 
    speed. Whilst at first many may be sceptical, let me stop you right there. Reversing is on the gear stick, 
    hence operates in the form of a gear, so let us break down number stereotypes and allow reverse to be the 
    main character in the reduction of your speed. Additionally, we believe the ability to seamlessly carry out 
    this manoeuvre should be implemented as a feature into all modern cars.

    Sign petition on: http://chng.it/WrvMhsbt
    Website: https://emmamoulton18.wixsite.com/reverserino

    The artwork produced by the co-CEO perfectly encapsulates the business.
    You drove in the past. But you Reverserino into a brighter future... 
    
</pre> </i>
</div>
<div class="left">
    2nd November 2020
</div>
<div class="right">
   <b>Init</b>
  <i>  <pre>
Deliberate mispronunciation of 'Isn't it'.
This shorterned version is now used by the english massive in just about every fucking sentence 
spoken. EVER. Half the time the response could be, 'yeahhh' or 'really is', but thats a bit btec now.

Paul: 'I found Madeleine McCann in my wardrobe.'
Jim: 'Init.'

Nobody:
Emma: 'init'
 </pre> </i>
</div>
<div class="left">
    30th March 2020
</div>
<div class="right">
    <b>Covid</b>
   <i>  <pre>
People, basically.

The term has come to prominence during the 2019-20 Coronavirus pandemic, and may refer to any 
human contact who could be harbouring the potentially fatal COVID-19 respiratory virus.

"I journeyed out to the country for a quiet walk this afternoon hoping to escape the hysteria, 
but the place was crawling with Covids who had the same idea."

#coronavirus#covid-19</pre> </i>
 </div>
<div class="right">
   <b>Corona Time</b>
  <i>  <pre>
A time for you to get your wallets ready because you need to buy soap, toilet paper, 
hand sanitizers, and most importantly a face mask because of the Coronavirus.
*runs out of toilet paper*
CoRonA tiME</pre> </i>
</div>
<div class="right">
    <b>Coronic</b>
   <i>  <pre>
A person who has contracted coronavirus.

Is Karen coming in today? Unfortunately not - she's coronic, I think she got coroned 
last week on the way to work.

#covid-19#wuhan#coronavirus</pre> </i>
 </div>
 <div class="right">
    <b>Hand Sanitizer</b>
   <i>  <pre>
The most expensive thing during the corona virus

"Damn that hand sanitizer is expensive"

#damnexpensive #coronavirus</pre> </i>
 </div>
<div class="left">
    23rd March 2020
</div>
<div class="right">
   <b>Thot</b>
  <i>  <pre>
It can stand for 'That Hoe Over There'
A thot is usually active on social media especially instagram and Snapchat. 
On instagram she can be found in pictures of her in the dog filter and is usually half naked. 
On Snapchat she is most likely posting videos of her obnoxiously lip syncing to rap songs, 
while playing with her hair, thinking she looks like Kylie Jenner. Probably wears Calvin Klein, 
Adidas and Nike hats. She has perfect eyeliner and contour and she seems like she doesn't care 
what anyone think's about her. She may come across as a fake, conceited, shallow dumb bitch, 
but deep down she is insecure and unfortunately the only way she gets confidence is by getting 
validation from men on social media by posting pictures showing off her figure and plastic face. 
Next time you see a thot be nicer to them, they still haven't developed fully yet.
    
Hey but if you're a thot good on you, enjoy and embrace your thot life!
1. Jessica look at thot, breathing like she owns the place.
    
2. I hate thots so much! They're everywhere on instagram these days. </pre> </i>
</div>
<div class="left">
    16th March 2020
</div>
<div class="right">
   <b>Thicc</b>
  <i>  <pre>
Phat ass

"Damn your pet gold fish got a phat ass, he hella thicc"</pre> </i>
</div>
<div class="left">
    9th March 2020
</div>
<div class="right">
   <b>Contained</b>
  <i>  <pre>
No true definition, best used in a manner by which the "true" definition cannot be confused with this word.
USAGE -
    
As a response to any question:
"It's contained."
    
When reserving a hotel room:
"Sir we do have one room, would you like that one?"
"Is it contained?"
"...what do you mean by contained?"
"I am asking if it is contained it is a simple yes or no question..."
etc.... </pre> </i>
</div>
<div class="left">
    2nd March 2020
</div>
<div class="right">
   <b>Yeet</b>
  <i>  <pre>
To discard an item at a high velocity
Alex finishes his soda and proceeds to yeet his empty can into a trash bin

Alex (while throwing the can): “YEET!” </pre> </i>
</div>
<div class="left">
    24th February 2020
</div>
<div class="right">
   <b>Osteoporosis</b>
  <i>  <pre>
A infamous meme. It is actually a disease where bones lose mass and become weak and brittle.

One of the most seductive words to say to a girl.
I have osteoporosis.
-----------------------------------------------------------------------------------------------
Causing you jump into wheelchairs and say “I have osteoporosis”
Guy 1: hey do the meme
Guy 2: what meme
Guy 1: the meme
Guy 2: ohhh
    
*jumps into wheelchair*
Guy 2: I have osteoporosis </pre> </i>
</div>
<div class="left">
    17th February 2020
</div>
<div class="right">
   <b>Err</b>
  <i>  <pre>
An interjection that essentially means "What are you talking about?".

Jane: "I really like what you did to your hair."
Me: "Err? I haven't done anything to it."</pre> </i>
</div>
<div class="left">
    10th February 2020
</div>
<div class="right">
   <b>Hooligan</b>
  <i>  <pre>
Orignally started in England as a family of Irish named the "Hoolihans" caused trouble in a particular
area of England, as the Hoolihans spread in notoreity of bein aggressive, violent and dangerous they
were mentioned in a newspaper that wrongly spelt their name as "Hooligan" since then Hooligan has 
been a reference to aggressive, dangerous, violent, abusive, loutish and other behaviours.

"Look at those hooligans with their hoods up acting all hard"</pre> </i>
</div>
<div class="left">
    3rd February 2020
</div>
<div class="right">
   <b>Salty Potato</b>
  <i>  <pre>
The combination of being both sour and bitter
In chemistry, acids are usually described as being sour, whereas bases are described as being bitter; 
the neutralization of an acid and a base produces a salt, and thus, salty.
The folks: That old man Jenkins was so bitter about our parking in front of his mail box. 
I've never seen a more sour expression...
    
You: Oh wait, so he was like salty?
    
The folks: ohhh...hon, is that how you talk during job interviews?
--------------------------------------------------------------------------------------------------------------------
"Ash when you mention you voted for trump, or talk about Trump, or talk about anything about trump."
"Dude, don't be a salty potato" </pre> </i>
</div>
<div class="left">
    27th January 2020
</div>
<div class="right">
   <b>Conjunctivitus</b>
  <i>  <pre>
Pink eye, something you get from burying your face in a strippers ass.

"Aw dude, I got conjunctivitis"    
"That's what you get when you put a stripper's butt on your face"</pre> </i>
</div>
<div class="left">
    20th January 2020
</div>
<div class="right">
   <b>Siiick</b>
  <i>  <pre>
Used after anything you think is really cool. 
Emphasis on the REALLy part this is extremely sick and pitted.

"Man that movie was fucking siiick bruh." </pre> </i>
</div>
<div class="left">
    13th January 2020
</div>
<div class="right">
   <b>Irksome</b>
  <i>  <pre>
Ticklish, squirmy, rather irritating.
Does not like to be touched.
Smells.

"Oh god please no. stoppit no. oh lord. im irksome. so god darn diddly irksome and you have the devils curly hair."</pre> </i>
</div>
<div class="left">
    6th January 2020
</div>
<div class="right">
   <b>Wonky</b>
  <i>  <pre>
Weird, whacked out, messed up, not working for no definable reason. 
Usually applied to technology.

Steve: "Dude, you have the wonkiest computer in the world. I walked through the room and it crashed." </pre> </i>
</div>
<div class="left">
    January 1st 2020
</div>
<div class="right">
   <b>Mandem</b>
  <i>  <pre>
Man Dem is the term used for a group of friends or homies. 
This term originated from the carribean but found its way to the streets of the uk where it is widely used.

Dave: 'Im going to link mandem.'</pre> </i>
</div>
    </body>
</html>